@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App Mono Web</h1>
    <p>Aprendendo a construir <a href="https://docs.microsoft.com/aspnet/core">aplicações web com ASP.NET Core</a>.</p>
</div>
